* {
  font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: yellow;
}


p,
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

.bluetext {
  color: blue;
}
.title {
  color: teal;
}
.name {
  background-color: mediumspringgreen;
}
